<h1>Trains!</h1>

<% @trains.each do |train| %>
  <p>
    Train Type: <%= train.train_type %><br>
    Capacity: <%= train.capacity %><br>
    Express?: <%= train.is_express ? "Yes" : "No" %>
  </p>
<% end %>