<h1>All Aboard!</h1>

<ul>
  <li><a href="/stations">I1,US2,Parent Index</a></li>
  <li><a href="/stations/1">I1,US2,Parent Show</a></li>
  <li><a href="/trains">I1,US3,Child Index</a></li>
  <li><a href="/trains/1">I1,US4,Child Show</a></li>
  <li><a href="/stations/2/trains">I1,US5,Child Show</a></li>
</ul>